
<!DOCTYPE html>
<html>
  <head>
    <title>Welcome</title>
  </head>
  <style>
    body{
    background-image: url("https://emojipedia-us.s3.amazonaws.com/socialmedia/apple/96/pile-of-poo_1f4a9.png")
    }
  </style>
  <body>
    <center> 
      <h1>Welcome!</h1>
      <img src = /static/quokka.jpg width = 50%> <br><Br>
      <b> Please sign in below: </b>
      <form action = "/logged_in" method = "GET">
	Username: <input type = "text" name ="username">
	<br>
	Password: <input type = "text" name ="password">
	<br>
	<input type = "submit" value = "Submit">
      </form>
    </center>
  </body>
</html>
